
body {
	width: 90%;
	margin: auto;
	font-family: "Open Sans", sans-serif;
	background: -webkit-radial-gradient(rgb(247, 247, 247), rgb(84, 131, 179));
	background: radial-gradient(rgb(247, 247, 247), rgb(84, 131, 179));
	background-image: url("./images/fond3.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #333;
	position: relative;
}

a {
	text-decoration: none;
	font-style: italic;
}

/* unvisited, visited link */
a:link, a:visited {
  color: #d10711;
}

/* mouse over link */
a:hover {
  color: #e36a70;
}

/* selected link */
a:active {
  color: blue;
}

ul {
	list-style-type: none;
}

table.mytable, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 20px;
}

p {
	letter-spacing: 0.8px;
	color: purple;
	font-size: 18px;
	font-family: serif;
}

blockquote {
	width: 50%;
	margin: auto;
	font-size: 160%;
	background-color: #ddd;
	border-left: 3px dashed #0b36b0;
	padding-left: 30px;
	margin-top: 80px;
	margin-bottom: 80px;
	font-style: italic;
}

header figure:nth-child(2) {
	background-color: #ff0;
	width: 500px;
	margin-top: 0;
    padding: 10px;
    float: left;
} 

header ol {
	margin-left: 20px;
}

h3 + ol {
	color: #0b5c83!important;
}

ol > li {
	font-size: 1em;
	font-weight: bold;
}

table thead th:last-of-type {
	text-transform: uppercase;
}

.bad {
	color: red;
	font-style: normal;
}

.good {
	color: green;
	font-style: normal;
}

table tbody tr:nth-child(even) {
	background-color: #ccc;
}

table tbody tr:nth-child(odd) {
	background-color: #fff;
}

hr {
	clear: both;
}

#notification {
	background-color: rgb(21 79 129 / 62%);
	color: #fff;
	padding: 15px;
	font-family: sans-serif;
	width: 30%;
	text-align: center;
	position: fixed;
	margin: 0;
	bottom: 0;
	right: 0;
}

#notification q, #notification .end {
	color: #fea604;
    font-weight: 600;
}

body > p:first-of-type {
	font-weight: bold;
	font-size: 20px;
}

footer {
	text-align: center;
	padding: 20px; 
}

footer p {
	font-size: 0.8em;
}