
body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	background-color: #eee;
	color: #808080;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

table.mytable, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

th, td {
	padding: 20px;
}